<nav class="bg-gray-800 p-4">
  <div class="container mx-auto flex justify-center">
      <ul class="flex flex-wrap justify-center space-x-4 text-lg">
          <li><a href="/" class="text-white hover:text-yellow-300">Home</a></li>
          <li><a href="/club" class="text-white hover:text-yellow-300">Club Membership</a></li>
          <li><a href="/services" class="text-white hover:text-yellow-300">Services</a></li>
          <li><a href="/contact" class="text-white hover:text-yellow-300">Contact Us</a></li>
      </ul>
  </div>
</nav>

<style>
body {
  overflow-x: hidden;
}
</style>
