<style>
    .circle {
        width: 100px;
        height: 50px;
        background-color: #4CAF50; /* Green */
       position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        margin-left: 45%;
        margin-top: 10%;
        text-transform: uppercase;
        border-radius: 10px;
    }
</style>
<div class="bg-black text-white font-bold text-center py-4">
  <h1 class="text-4xl uppercase">Club Membership</h1>  
</div>
<div class="bg-gray-300 w-full h-screen">
    <div class="bg-gray-300 w-full h-screen flex flex-col justify-between">
        <div class="text-center mt-10vh">
            <h2 class="text-4xl font-bold uppercase mt-5">Choose your <br> pricing plan</h2>
        </div>
        <div class="circle">
            Best Value
        </div>
        <div class="flex justify-center items-center flex-grow">
            <div class="max-w-lg p-8 bg-white rounded-lg shadow-md">
                
                <h3 class="text-xl font-bold mb-4">ROYAL CLUB</h3>
                <p class="text-3xl font-bold text-gray-800 mb-4">₹5,000</p>
                <p class="text-gray-700 mb-4">An All-round Unlimited Yearly Services Package</p>
                <p class="text-gray-700 mb-4">Valid for one year</p> 
           <a href="/membership">     <button class="bg-black text-white px-6 py-2 rounded-full hover:bg-gray-800">Join Now</button> </a>
                <ul class="text-left mt-4">
                    <li>✔️ Unlimited Haircuts</li>
                    <li>✔️ Unlimited Beard Trim</li>
                    <li>✔️ Unlimited Facial Services</li>
                    <li>✔️Unlimited Pedicure & Manicure</li>
                </ul>
            </div>
        </div>
        <div class="flex justify-center items-end pb-4">
            <img src="club_membership_poster.jpg" alt="Club Membership Poster" class="max-h-96">
        </div>
    </div>
    
</div>