<style>
.btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 0;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-left: 40%;
  }
  
  .btn-google {
    color: white;
    background-color: #1C3AA9;
    border: none;
  }
  
  .btn-google:hover {
    background-color: #647dd6;
  }
  
  .btn-google i {
    margin-right: 10px;
  }
  </style>
<div class="bg-black text-white font-bold text-center py-4">
    <h1 class="text-4xl uppercase">Club Membership</h1>  
  </div>

   <div class=" text-center mt-5 "> <h1 class="text-3xl"> HOW TO BUY CLUB MEMBERSHIP</h1>
      <h2> Login Through Google from Below</h2>
      <h2> After your were Redirect to Payment page</h2>
       <h2> After  your Payment Done <span class="text-red-300">have print a copy of payment details</span>   </h2>
</div>
<%- authLink %>